if [ -d .git ]; then
  if [ ! -f secrets/agenix-rules.nix ]; then
    echo "direnv: Initializing secrets submodule..."
    git submodule update --init --recursive
  fi
  git config submodule.recurse true
fi

use flake
